In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [ ]:
dataset_path ='/gdrive/My Drive/Colab Notebooks/dataset.csv'

In [ ]:
import pandas as pd

df = pd.read_csv(dataset_path)
df.head()

    v1   v2   v3   v4   v5   v6   v7  ...  v15  v16  v17  v18  v19  v20  flag
0  1.0  2.0  3.0  4.0  3.0  2.0  1.0  ...  3.0  4.0  3.0  2.0  1.0  2.0     1
1  1.1  2.2  3.3  4.4  3.3  2.2  1.1  ...  3.3  4.4  3.3  2.2  1.1  2.2     1
2  1.0  5.0  3.0  6.0  5.0  6.0  7.0  ...  1.0  4.0  5.0  3.0  2.0  8.0     0
3  9.0  4.0  1.0  0.0  1.0  4.0  9.0  ...  1.0  0.0  1.0  4.0  9.0  4.0     1
4  0.0  5.0  8.0  9.0  8.0  5.0  0.0  ...  8.0  9.0  8.0  5.0  0.0  5.0     1

[5 rows x 21 columns]

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
#from statsmodels.api import datasets
import sklearn.model_selection as ms
import sklearn.metrics as sklm
import matplotlib.pyplot as plt
import numpy as np
import numpy.random as nr


%matplotlib inline

In [ ]:
Y = df['flag']
X = df.drop(['flag'], axis=1)

In [ ]:
X= np.array(X)
X.shape

(1327, 20)

In [ ]:
Y.shape

(1327,)

In [ ]:
Y= np.array(Y)
Y=Y.reshape(-1,1)
Y.shape

(1327, 1)

In [ ]:
nr.seed(1115)
indx = range(X.shape[0])
indx = ms.train_test_split(indx, test_size = 400)
X_train = X[indx[0],:]
y_train = np.ravel(Y[indx[0]])
X_test = X[indx[1],:]
y_test = np.ravel(Y[indx[1]])

In [101]:
nr.seed(1115)
nn_mod = MLPClassifier(hidden_layer_sizes = (20,20,14,5))
nn_mod.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(20, 20, 14, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [102]:
scores = nn_mod.predict(X_test)

In [103]:
sklm.accuracy_score(y_test,scores)

0.9425

In [104]:
sklm.confusion_matrix(y_test,scores)

array([[140,  13],
       [ 10, 237]])

In [105]:
scores_train = nn_mod.predict(X_train)

In [106]:
sklm.accuracy_score(y_train,scores_train)

1.0